* {
    font-family: "Courier New", monospace;
    text-align: center;
color: blue;
    animation: fadeIn 1s;
}
*:hover{
    color:white;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}
.typewriter {
    overflow: hidden;
    border-right: .15em black;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 4s steps(40, end),
        blink-caret .75s step-end infinite;
    font-size: 30px;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}
.grid-container {
  position:relative;
 align-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}