body {
    background-color: lime;
}

img {
    width: 200px;
    height: 200px;
    /*    transition: width 2s, height 2s;*/
}

.zoom {
    width: 400px;
    height: 400px;
    transition: width 2s, height 2s;
}
