* {
    font-family: "Courier New", monospace;
    text-align: center;

    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.intro {
background-size: cover;
 background-image: url(asset/professional.png);
}

.intro:hover {
    background-image: url(asset/professional-invert.png);
}

a {
    text-decoration: none;
    color: grey;
}
.special:hover{
    
}
.about{
    background-color: red;
    font-size: 40px;
}

.typewriter {
    overflow: hidden;
    border-right: .15em black;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 2s steps(40, end),
        blink-caret .75s step-end infinite;
    font-size: 30px;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

.images{
    filter: invert(0);
}
.images:hover{
    filter:invert(1);
}
.bg{
    background-color: red;
}