* {
    font-family: "Courier New", monospace;
    text-align: center;
}

.bg-photos {
    position: relative;
    width: 28%;
}

.about-text {
    font-size: 40px;
}
.background-text {
    font-size: 40px;
}
